body {
    background: #000;
    color: #fff;
}

.App {
    text-align: center;
    padding: 5%;
}

.app-title {
    font-size: 26px;
}

/*profile*/
.profile {
    display: flex;
    justify-content: left;
}

.profile-info {
    margin-left: 15px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile-img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border: 4px solid #fff;
    border-radius: 75px;
}

.profile-name {
    font-size: 24px;
}

.profile-followers, .profile-genres {
    font-size: 16px;
}

/*gallery*/
.gallery {
    margin-top: 50px;
}

.track {
    display: inline-block;
    height: 200px;
    width: 200px;
    margin: 10px;
    position: relative;
    text-align: left;
}

.track-img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border: 2px solid #fff;
    border-radius: 5px;
    position: absolute;
}

.track-name {
    background-color: #000;
    color:#fff;
    opacity: 0.75;
    position: absolute;
    width: 196px;
    margin-left: 2px;
    bottom:0;
    margin-bottom: 10px;
    text-align: center;
    padding: 10px;

}