.app {
  text-align: center;
  font-size: 35px;
  margin-top: 20%;
}

.app-title {
  font-size: 50px;
}

.clock-days, .clock-hours, .clock-minutes, .clock-seconds {
  display: inline;
  margin: 10px;
}

.deadline-input {
  font-size: 25px;
  margin: 5px;

}